<%style=''%>
<style type="text/css">
	.config label{
		display: inline;
	}
	.config input{
		margin-right: 5px;
	}
</style>
<table class='table'>
	<thead>
		<th>ID</th>
		<th>name</th>
		<th>alias</th>
		<th>desc</th>
		<th>config</th>
		<th>operate</th>
	</thead>
	<tbody>
		<%_.each(data,function(item){%>
		<tr>
			<td><%=item.id%></td>
			<td><%=item.name%></td>
			<td><%=item.alias%></td>
			<td><%=item.desc%></td>
			<td>
				<div class='config'>
				<%_.each(config,function(conf){%>
				<label><%=conf.name%>
				<%var checked=_.find(item.config,function(check){
					return check.link==conf.link;
				})%>
				 <input type='checkbox' name='config' <%=checked?'checked':''%> >
				<%})%>
				</label>
				</div>
			</td>
			<td>
				<a href="/admin/cate/edit/<%=item.id%>">编辑</a>
				<a href="/<%=item.alias%>" target='_blank'>进入</a>
				<a href="javascript:;" class='openrss' data-id='<%=item.id%>' target='_blank'>开启rss</a>
				<input class='rss-url' type='text' ><input data-id='<%=item.id%>' value='添加'  type='button' class='rss-btn'>
				</td>
		</tr>
		<%})%>
	</tbody>
	
</table>
<a href="/admin/cate/add">add</a>
<script type="text/javascript">
	$(function(){
		$(".openrss").click(function(){
			var id=$(this).attr("data-id");
			$.get('/admin/cate/openrss?id='+id,function(re){
				if (re.ret==0) {
					alert('success');
				}else{
					alert(re.msg);
				}
			})
		})
		$(".rss-btn").click(function(){
			var id=$(this).attr("data-id");
			var content=$(this).prev(".rss-url").val();
			$.get('/admin/cate/addrss?id='+id+"&url="+content,function(re){
				if (re.ret==0) {
					alert('add success');
				}else{
					alert(re.msg);
				}
			})
		})
	})
</script>
<%script=''%>
