<% style='<link rel="stylesheet" type="text/css" href="/css/index.css"/>'%>

<div class="row">
	<div style="padding-left: 22px;">
			<span class='gray'>以下内容是系统推荐的</span>
			
	</div>
	<div class="span8">
		<%if(hotCates.length){%>
			<div id='hotCates ' class='clearfix'>
					<%_.each(hotCates,function(item){%>
						<div class='cate-item'>
							<a href="/<%=item.alias%>" class='cate-pic'>
								<img src="/img/cate/icon/<%=item.alias%>.png" style=''/>
							</a>
							<div class='cate-info'>
								<h6><a href="/<%=item.alias%>" target='_blank'><%=item.name%></a></h6>
								<span class='gray'>
									<%=ellipsis(item.desc,95)%>
								</span>
							</div>
							<div class='cate-button'>
								<a href="/<%=item.alias%>" target='_blank'>进去瞧瞧</a>
							</div>
						</div>
					<%})%>
			</div>
			<%}%>
		<div class='btn-group pull-right clearfix'>
			<a href="javascript:;" id='note-show' class='active btn'>笔记</a>
			<a href="javascript:;" id='ques-show' class='btn'>问题</a>
		</div>
		<div class="clearfix"></div>
		<div id="recommend-items">
			<%_.each(recommends,function(item){%>
				<div class="note-item clearfix" data-id='<%=item.id%>'>
					<a href="/u<%=item.userId%>" title='<%=item.userName%>' class='user-pic'>
						<img class='img-polaroid' src="/img/user/user.jpg">
					</a>
					<div class="note-detail">
						<h4> 
							<a href="/note/<%=item.id%>" target='_blank'><%=noteTitle(item)%></a>
						</h4>
						<%if(item.subject){%>
						<div class="note-book">
							<img src="<%=item.subject.pic%>" />
							<a href="/book/<%=item.subject.id%>" target="_blank"><%=item.subject.name%></a>
							<span class="gray">位置:<%=item.subject.chapter%></span>
						</div>
						<%}%>
						<div class="note-content ">
							<%-item.content%>
						</div>
						<div class="note-btn">
							<span class='gray'><%=item.cateName%></span>
							<a href="javascript:;" class='note-comment pull-right' data-id='<%=item.id%>'>评价(<%=item.commentNum%>)</a>
						</div>
					</div>
					
				</div>
			<%})%>	
	
			<div class='clearfix' id='loadMore'>
				<a href="javascript:;">加载更多</a>
			</div>
			
		</div>
		<div id="recommend-ques" class='hide clearfix'>
			<div class='filter'>
				领域:
				<%if(userId==0||attentionCates.length==0){%>
				你还没有关注任何领域，快去<a href="/cates">看看</a>吧
				<%}else{%>
					<%_.each(attentionCates,function(item){%>
					<a href="javascript:;" data-id='<%=item.id%>'><%=item.name%></a>&nbsp;&nbsp;&nbsp;
					<%})%>
				<%}%>
				
			</div>
			<div id='ques-items'>

			</div>
		</div>
	</div>
	<div class="span3 offset1">
		<div >
			<%if(userId>0){%>
				<a href="/u<%=userId%>">
					<img src="/img/user/user.jpg"/>
				</a>
				<a href="/u<%=userId%>"><%=username%></a>
			<%}else{%>
			<a href="/login">注册</a>
			<a href="/reg">登录</a>
			<%}%>
		</div>
		<%if(readingBook.length){%>
		<div id='readingBook'>
			<h6>最近在读书籍</h6>
			<ul class='nav'>
				<%_.each(readingBook,function(item){%>
					<li>
						<a href="/book/<%=item.id%>">
							<img src="<%=item.pic%>" style="width: 144px;">
						</a>
						<a href="/book/<%=item.id%>">
							<%=item.name%>
						</a>
					</li>
				<%})%>
			</ul>
		</div>
		<%}%>
		<%if(recommendBooks.length){%>
		<div id='recommend-Book'>
			<h6>推荐书籍</h6>
			<ul class='nav'>
				<%_.each(recommendBooks,function(item){%>
					<li>
						<a href="/book/<%=item.id%>">
							<img src="<%=item.pic%>" style="width: 144px;">
						</a>
						<a href="/book/<%=item.id%>">
							<%=item.name%>
						</a>
					</li>
				<%})%>
			</ul>
		</div>
		<%}%>
	</div>
	
</div>
<% script='<script type="text/javascript" src="/js/index.js"></script>'%>