<!DOCTYPE html>
<html lang="en">
<head>
	<title><%=title%>-91学呀</title>
  <meta name="keywords" content="<%=keywords%>" />
  <meta name="description" content="<%=descript%>" />

	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.10.3.custom.css">
   <link type='text/css' rel='stylesheet' href='/js/lib/kindeditor-4.1.7/themes/default/default.css' />
   <link rel="stylesheet" type="text/css" href="/css/layout.css">
<meta name="baidu-site-verification" content="5e395bde2df1323add47e4198ff9d61f"/>
<style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <%-style%>
    <script type="text/javascript" src="/js/lib/jquery-1.10.1.min.js"></script>
    <script>
      var user={
        id: <%=userId%>,
        name:'<%=username%>',
        attentionCates:<%=util.inspect(attentionCates)%>
      }
      var cates=[<%=cates%>];
    </script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
         
          <a class="brand" href="/">91学呀</a>
          <form class='form-search navbar-form pull-left'>
            <div class="input-append">
               <input type='text' placeholder='你想学习什么？' />
               <span class='add-on'><i class='icon-search'></i></span>
            </div>
          </form>
          <div class="nav-collapse collapse">
            <ul class="nav" style='width:520px'>
              <li class="nav-index"><a href="/">首页</a></li>
              <li class='nav-find'><a href="/cates">发现</a></li>
              <% if(userId){%>
               <li class="dropdown nav-studing">
                <a href="#" class="dropdown-toggle " data-toggle="dropdown">关注中<b class="caret"> </b></a>
                <ul class="dropdown-menu">
                  <%for(var i=0;i<attentionCates.length;i++){%>
                     <li>
                      <div  class='dropdown-img'>
                         <a href="/<%=attentionCates[i].alias%>"><img src="/img/cate/icon/<%=attentionCates[i].alias%>.png"  /></a>
                        <a href="/<%=attentionCates[i].alias%>"><%=attentionCates[i].name%></a>
                      </div>
                        
                    </li>
                  <%}%>
                  <%if(attentionCates.length==0){%>
                    <li><span>还未关注任何领域</span></li>
                  <%}%>
                </ul>
              </li>
              <li class="dropdown nav-note">
               <a href="#" class="dropdown-toggle " data-toggle="dropdown">待发布<b class="caret"> </b></a>
                <ul class="dropdown-menu">
                   <%for(var i=0;i<drafts.length&&i<6;i++){%>
                     <li>
                      <div class='dropdown-img'>
                           <a href="<%=drafts[i].link%>"><img src="/img/<%=drafts[i].plat%>.png"></a>
                          <a href="<%=drafts[i].link%>"><%=drafts[i].name%></a>
                      </div>
                    </li>
                  <%}%>
                  <%if(drafts.length==0){%>
                  <li >暂无任何待发布内容</li>
                  <%}else if(drafts.length>5){%>
                     <li>
                        <a href="/u<%=userId%>/drafts">查看全部</a>
                    </li>
                  <%}%>
                 
                 
                </ul>
             </li>
              
              <li class="dropdown nav-question"> 
                <a href="#" class="dropdown-toggle " data-toggle="dropdown">功能<b class="caret"> </b></a>
                <ul class="dropdown-menu">
                   <li><a href="/note/add" target="_self">新建笔记</a></li>
                   <li><a href="javascript:;" onclick='quickQuestion()'>新建疑问</a></li>
                </ul>
              </li>
              <li class='nav-message'> <a href="/message">消息</a></li>
              <li class="dropdown">
                 <a href="#" class="dropdown-toggle " data-toggle="dropdown"><%= username%><b class="caret"> </b></a>
                 <ul class=dropdown-menu>
                  <li><a  href='/setting'>我的帐号</a></li>
                  <li><a  href='/u<%=userId%>'>我的主页</a></li>
                  <%if(role==1){%>
                  <li><a  href='/admin'>管理员</a></li>
                  <%}%>
                  <li><a  href='/logout'>退出</a></li>
                 </ul>
               </li>
              <%}else{%>
               <li id='nologin'>
                <div >
                   <a href="/reg">注册</a>
                  <a href="/login">登录</a> 
                </div>
              </li>
              <%} %>
            </ul>
            
            <span id='ajax-loadding' class='hide' style='background-color: white;'><i class='icon-spinner icon-spin'></i></span>
          </div>
        </div>
      </div>
    </div>
	<div id="container" class="container">
		<%-body%>
	</div>
	<hr/>
	<footer>
  <!--   <ul class='nav nav-list'>
      <li><a href="/about">关于我们</a></li>
      <li><a href="/join">加入我们</a></li>
    </ul> -->
    91学涯是一个提供大家学习交流的平台，网站还处于测试期，有很多bug和很多功能没有完善,请大家见谅。
    <a href="/feedback" target='_blank'>问题反馈</a>
    <a href="www.miitbeian.gov.cn" nofollow target="_blank">沪ICP备13031681</a>
    <a href="/about">关于我们</a>
    <a href="/join">加入我们</a>
	</footer>
  <div id="feedback">
    <a href="/feedback" target="_blank">问题反馈</a>
  </div>
  <%if(userId==0){%>
  <div class="login-force-form hide">
      <div class='login-form'>
        <input type="text" class="span2" placeholder="邮箱/昵称" >  
        <br/>  
        <input type="password" class="span2" placeholder="密码" >  
        <br/>  
        <input type="button" value='登录'/>  
      </div>
      <div class="otherlogin">
        <a href='#'>sina</a>
        <a href='#'>qq</a>
        <a href='#'>renren</a>
        <a href='#'>douban</a>
      </div>
  </div>
  <%}%>
  <div id="tips-close" class='hide'>
    <span>你确定要删除吗？</span>
  </div>
  <div id="tips-ok" class="hide">
    <span>提交成功</span>
  </div>
  <div id='question-form' class='hide'>

  </div>
  <a href="javascript:;" id='backToTop'></a>
  <script type="text/javascript" src="/js/lib/bootstrap.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-1.10.3.custom.js"></script>
  <script type="text/javascript" src="/js/lib/jquery-ui-datepicker-zh.js"></script>
  <script type="text/javascript" src="/js/lib/underscore-min.js"></script>
  <script type="text/javascript" src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/kindeditor-4.1.7/kindeditor-min.js"></script>
  <script src="/js/lib/kindeditor-4.1.7/lang/zh_CN.js"></script>
  <script type="text/javascript" src="/js/layout.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <%-script%>
</body>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3Fd4966a08aed078ccc95c4fe503b3b416' type='text/javascript'%3E%3C/script%3E"));
</script>
</html>