<%style='<link rel="stylesheet" type="text/css" href="/css/question.css"/>'%>

<script type="text/javascript">
	var question={
		id:<%=ques.id%>
	};
</script>
<div class="row" id='question'>
	<div class="span8">
		<div id='question-main'>
			<h1 class='title'>
				<i class='icon-lightbulb'></i>
				<span><%=ques.title%></span>
			</h1>
				<div>
					<a href="/u<%=ques.userId%>" target='_blank'><%=ques.userName%></a>
					<span class='pull-right gray'><%=ques.addDate3%></span>
				</div>
				<div class='question-content' ><%=ques.content.trim()%></div>
				<div class='question-location' >位置:<%=ques.location%></div>
				<%if(ques.acceptIndex){%>
					<%var acceptAnswer=_.find( ques.answers,function(item){
						return item.id==ques.acceptIndex
					})%>
					满意答案
					<%=acceptAnswer.content%>
				<%}else if(userId==ques.userId){%>
						<a href="/question/edit/<%=ques.id%>">补充内容</a>
					<%}else if(!hadAnswer){%>
					<a href="javascript:;" id='quetion-better-answer'>我有更好的答案<i class=' icon-caret-up'></i></a>
					<div id='question-answer-form'>
						<textarea></textarea>
						<input type='button' class='pull-right' value='提交回答'>
					</div>
				<%}%>
		</div>
		<%if(ques.answers&&ques.answers.length){%>
		<div id='quetion-other-answers'>
			<div>
				<b><%=ques.answers.length%>条回答</b>
			</div>
			<%for(var i=0;i<ques.answers.length;i++){%>
				<%if(ques.acceptIndex==ques.answers[i].id){
					continue;
				}%>
				<div class='question-answer-item'>
					<div>
						<a href="/u<%ques.answers[i].userId%>"><%=ques.answers[i].userName%></a>
						<span class="pull-right gray"><%=ques.answers[i].updateDate3%></span>
					</div>
					<div class='question-answer-item-content'><%=ques.answers[i].content%></div>
					<%for(var j=0;j<ques.answers[i].addAsk.length;j++){%>
						<%if(ques.answers[i].addAsk[j]&&ques.answers[i].addAsk[j].ask){%>
						<div>
							追问:<%=ques.answers[i].addAsk[j].ask%>
							<%if(ques.answers[i].addAsk[j].answer){%>
							回答:<%=ques.answers[i].addAsk[j].answer%>
							<%}else if(ques.answers[i].userId==userId){%>
								<a href="javascript:;" class='addAsk-answer-btn' data-answerId='<%=ques.answers[i].id%>' data-reAskId='<%=j%>' >回答</a>
							<%}%>
						</div>
						<%}%>						
					<%}%>
					<div class='question-answer-btns'>
						<%if(ques.userId==userId){%>
						<a href="javascript:;" class='btn accept' data-answerId='<%=ques.answers[i].id%>' >采纳答案</a>
						<a href="javascript:;" class='btn pushAsk' data-answerId='<%=ques.answers[i].id%>' >追问</a>
						<%}%>
						<%if(ques.answers[i].userId==userId){%>
						<a href="javascript:;" class='btn perfectAnswer'>完善我的回答</a>
						<%}%>
						<a href="javascript:;" class='pull-right'>评论</a>
					</div>
					<div class='pushAsk-container hide'>

					</div>
					
				</div>
			<%}%>
		</div>
		<%}%>

	</div>
	<div class="span3 offset1"></div>
</div>
<div class="hide" id='pushAsk-container-hide'>
	<span><b>继续追问：</b></span>
	<div >
		<textarea class='pushAsk-content'></textarea>
		<input type='button' class='pull-right pushAsk-btn' value='提交追问'>
	</div>
</div>
<%script='<script type="text/javascript" src="/js/question.js"></script>'%>