<%style='<link rel="stylesheet" type="text/css" href="/css/question.css"/>'%>

<script type="text/javascript">
	var question={
		id:<%=ques.id%>
	};
</script>
<div class="row" id='question'>
	<div class="span8">
		<div id='question-main'>
			<h1 class='title'>
				<span><%=ques.title%></span>
			</h1>
			<div class='question-content' ><%-ques.content%></div>
			<%if(ques.subject){%>
				<h6>关联书籍</h6>
				<img src="<%=ques.subject.pic%>" />
				<a href="/book/<%=ques.subject.id%>"><%=ques.subject.name%></a>
				<%if(ques.subject.chapter){%>
				位置:<%=ques.chapter%>
				<%}%>
			<%}%>
			<%if(ques.userId==userId){%>
			<a href="/question/edit/<%=ques.id%>">编辑</a>
			<%}%>
		</div>
		<%if(ques.answer){%>
			<div id='accept-answer'>
				<%=ques.answer.content%>
				<%=ques.answer.userName%>
			</div>
		<%}%>
		<%if(ques.answers&&ques.answers.length){%>
		<div id='quetion-other-answers'>
			<%for(var i=0;i<ques.answers.length;i++){%>
				<div class='question-answer-item'>
					<div>
						<a href="/u<%ques.answers[i].userId%>"><%=ques.answers[i].userName%></a>
						<span class="pull-right gray"><%=ques.answers[i].updateDate3%></span>
					</div>
					<div class='question-answer-item-content'><%=ques.answers[i].content%></div>
					<%for(var j=0;j<ques.answers[i].addAsk.length;j++){%>
						<%if(ques.answers[i].addAsk[j]&&ques.answers[i].addAsk[j].ask){%>
						<div>
							追问:<%=ques.answers[i].addAsk[j].ask%>
							<%if(ques.answers[i].addAsk[j].answer){%>
							回答:<%=ques.answers[i].addAsk[j].answer%>
							<%}else if(ques.answers[i].userId==userId){%>
								<a href="javascript:;" class='addAsk-answer-btn' data-answerId='<%=ques.answers[i].id%>' data-reAskId='<%=j%>' >回答</a>
							<%}%>
						</div>
						<%}%>						
					<%}%>
					<div class='question-answer-btns'>
						<%if(ques.userId==userId){%>
						<a href="javascript:;" class='btn accept' data-answerId='<%=ques.answers[i].id%>' >采纳答案</a>
						<a href="javascript:;" class='btn pushAsk' data-answerId='<%=ques.answers[i].id%>' >追问</a>
						<%}%>
						<a href="javascript:;" class='pull-right'>评论</a>
					</div>
					<div class='pushAsk-container hide'>

					</div>
					
				</div>
			<%}%>
		</div>
		<%}%>
		<%if(!hadAnswer&&ques.userId!=userId){%>
		<div id='question-answer-form'>
			<textarea></textarea>
			<input type='button' class='pull-right' value='提交回答'>
		</div>
		<%}%>
	</div>
	<div class="span3 offset1">
		<input type='button' value='觉得不错赞一个'>
		<br>
		<span class='gray'><%=ques.viewNum%>次阅读</span>
		<br>
		<span class='gray'><%=ques.answerNum%>次回答</span>
		<div>
			<h6>相关问题</h6>
			<ul class='nav'>
				<li>
					<a href="/">content</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="hide" id='pushAsk-container-hide'>
	<span><b>继续追问：</b></span>
	<div >
		<textarea class='pushAsk-content'></textarea>
		<input type='button' class='pull-right pushAsk-btn' value='提交追问'>
	</div>
</div>
<%script='<script type="text/javascript" src="/js/question.js"></script>'%>