<%style=''%>
<script type="text/javascript">
	var note={
		id:<%=note.id%>,
		subjectId:<%=note.subjectId%>,
	};

</script>
<div class="row">
<div class="span10">
<form class='form-horizontal' id='form-note' method='post'>
	<legend><%=_.isUndefined(note.id)?'写笔记':'修改笔记'%></legend>
	<div class="control-group">
		<label class="control-label">图书链接:</label>
		<div class="controls"> 
			<input type='text' id="link" <%=_.isUndefined(note.id)?'':'disabled=disabled'%> value='<%=note.subjectId!=undefined?("http://91xueya.com/book/"+note.subjectId):""%>'/>
			<span id='name'><%=isUndefined(note.subjectName,'请张贴地址')%></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">章 节 名:</label>
		<div class="controls"> 
			<input type='text' value='<%=isUndefined(note.chapterName)%>' name='chapterName' id='chapterName'>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">笔记内容:</label>
		<div class="controls"> 
			<textarea  id="content" name='content' ><%=isUndefined(note.content)%></textarea>
		</div>
	</div>
	<%if(!_.isUndefined(note.id)){%>
	<div class="control-group">
		<label class="control-label">修改注释:</label>
		<div class="controls"> 
			<textarea  id="modifyContent" name='modifyContent' ></textarea>
		</div>
	</div>
	<%}%>
	<div class="control-group">
		<div class="controls">
			<%console.log(note.state)%>
			<%if(_.isUndefined(note.id)){%>
				<input type='button' class='note-submit' data-state=0 value='保存草稿'/>
				<input type='button' class='note-submit' data-state=1 value='发表'/>
			<%}else{%>
				<input type='button' class='note-submit' data-state=<%=note.state%> value='更新'/>
				<%if(note.state==0){%>
					<input type='button' class='note-submit' data-state=2 value='发表'/>
				<%}%>
			<%}%> 
			
			<a href='javascript:;' class='goback'>取消</a>
			<span id='tips'></span>
		</div>
	</div>
</form>
</div>
<div class='span2'>
	<%if(note.modifies.length){%>
		修改记录
		<%for(var i=0;i<note.modifies.length;i++){%>
			<div>
				<%=toDate(note.modifies[i].addDay)%>
				<br/>
				<%=note.modifies[i].content%>
			</div>
		<%}%>
	<%}else{%>
		tips
	<%}%>
</div>
</div>
<link type='text/css' rel='stylesheet' href='/js/lib/kindeditor-4.1.7/themes/default/default.css' />
<script src="/js/lib/kindeditor-4.1.7/kindeditor-min.js"></script>
<script src="/js/lib/kindeditor-4.1.7/lang/zh_CN.js"></script>
<%script='<script src="/js/note-add.js"></script>'%>