<%style='<link rel="stylesheet" type="text/css" href="/css/note-index.css" />'%>
<script>
	var note={
		id:<%=note.id%>,
		state:<%=note.state%>
	};
</script>
<div class="row">
	<div class="span8">
		<div>
			<h2><%=isUndefined(note.title,note.userName+'的笔记')%></h2>
			<div class='note-detail-info annotation'>
				<%=isUndefined(note.chapter)%>
				<%=toDate(note.addDate)%>
				<%if(userId==note.userId){%>
					<a href='/note/add?id=<%=note.id%>'>修改</a>>><a href='javascript:;' class='note-delete'>删除</a>
					<%if(note.state==0){%>
					<a href='javascript:;' id="note-publish" >发布</a>
					<%}%>
				<%}%>
			</div>
			<%-note.content%>
		</div>
		
		<div id="comment-container">
		</div>
	</div>
	<div class="span3 offset1">
		<div class='note-user'>
				<a href='/u<%=note.userId%>' target='_blank'><img src='/img/user/user.jpg'/></a>
				
				<a href='/u<%=note.userId%>' target='_blank'><%=note.userName%></a>
		</div>
		<%if(note.modifies.length){%>
		修改记录
		<%for(var i=0;i<note.modifies.length;i++){%>
		<div>
			<%=toDate(note.modifies[i].addDate)%>
				<br/>
			<%=note.modifies[i].content%></div>
		<%}%>
		<%}else{%>
		tips'推荐笔记
		<%}%>
		<a href='/<%=cate.alias%>' >进入<%=cate.name%></a>
	</div>
</div>
<%script='<script src="/js/note-index.js"></script>'%>